<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Artical NLP Sentiment Analyzer</title>
</head>

<body>

    <header>
        <div class="">
            <img id="image" alt="Sentiment">
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <div>
                    <label for="url">Article URL *:</label>
                    <input id="url" type="url" name="input" value="" onblur="Client.validURL(this)"
                        placeholder="https://example.com" required spellcheck="false">
                    <span></span>
                </div>
                <input type=" submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section>
            <h2><strong>Form Results:</strong></h2>
            <div>
                <label for="polarity">Polarity:</label>
                <span id="polarity"></span>
            </div>
            <div>
                <label for="subjectivity">Subjectivity:</label>
                <span id="subjectivity"></span>
            </div>
            <div>
                <label for="text">Text:</label>
                <p id="text"></p>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>